<h1>Welcome, <%= @user.first_name %>!</h1>
<p>Thank you for joining Early Draft Society. Below you will find resources to help you get started.</p>
<p><strong>For Everyone:</strong><br />
This site was designed with love after careful consideration of the needs of authors and readers. Feedback was requested from authors and readers expressing the desire and need for a site that supports both communities.</p>
<p>We thank you for taking the time to register and below you will find a little bit of information to help you get started if you are an author or a reader. Our development team is dedicated to continuously improving the site to better serve both communities so any thoughts you may have to improve our site are greatly appreciated. Please email support@earlydraftsociety.com with any issues you may enocounter or improvements you would like to see.</p>
<p>Please visit our <a href="https://earlydraftsociety.com/terms-of-service">Terms of Service</a> and <a href="https://earlydraftsociety.com/privacy-policy">Privacy Policy</a> pages to familiarize yourself with our policies.</p>
<p><strong>For Authors:</strong><br />
On the homepage you can scroll the list of all available readers, or you can narrow the results through the available search and filtering options to narrow down the list of readers.</p>
<p>We take the integrity of our readers seriously. If you contact a reader that has a free account and they request payment at any time forward the request for payment along with their username to support@earlydraftsociety.com and their account will be disabled on the site.</p>
<p><strong>For Readers:</strong><br />
After registering for an account you are offering your arc/beta/proof reading services for free. You can customize your profile to set your estimated turnaround time, genres you specialize in, and other preferences such as your about me/bio section and your social media accounts.</p>
<p>We take the integrity of our readers seriously. If you wish to charge authors for your services you need a monthly, quarterly, annual, or lifetime subscription. If you are found to be requesting payment from authors at any time without a subscription your account will be disabled on the site.</p>
<p>Thank you again for joining Early Draft Society and we look forward to growing this community with your help!</p>
<p>Best regards,<br />
The Early Draft Society Team</p>