<p>Hello <%= @resource.email %>,</p>

<p>We received a request to reset your password. Click below to set a new one:</p>

<p><a href="https://earlydraftsociety.com/reset-password?reset_password_token=<%= @token %>">Reset your password</a></p>

<p>If you didn’t request this, you can safely ignore it.</p>
<p>Thanks,<br>The Early Draft Society Team</p>